* {
    font-family: 'Bitter', serif;
}


header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.nav-bar {
    position: fixed;
    top: 0;
}

#footer, header {
    background-color: #fff9ee;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #000;
}

.nav-link:hover {
    color: #625a4b;
    font-weight: bold;
}

#commission {
    width: 300px;
    height: 100px;
}