* {
    font-family: 'Bitter', serif;
}

.about, .commission-container {
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    padding: 5px;
}

.header-text {
    font-size: 22px;
    font-weight: 550;
}

.nav-bar {
    position: fixed;
    top: 0;
}

#footer, header {
    background: linear-gradient(
        #fff,    
        #fff9ee,
        #fff 
    );    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}

.nav-link {
    text-decoration: none;
    color: #000;
}

.nav-link:hover {
    color: #625a4b;
    font-weight: bold;
}

textarea {
    min-width: 250px;
    min-height: 110px;
    max-width: 250px;
    max-height: 110px;   
}

#form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quote-1 {
    font-style: italic;
    font-weight: 300;
    margin: 15px 0 0 30px;
    background: linear-gradient(
        #fff,    
        #fff9ee,
        #fff 
    );
}

.about-1, .about-2 {
    text-align: center;
}

#footer {
    padding-top: 10px;
    padding-bottom: 10px;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 14px;
}

.inputs {
    display: flex;
    flex-direction: column;
}