@media (hover: hover) {
    .nav-link:hover {
        color: #625a4b;
        font-weight: bold;
    }
}
* {
    font-family: 'Bitter', serif;
    background: #000;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
}

.about, .commission-container {
    margin: 20px;
}

.nav-link:hover {
    color: #625a4b;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    padding: 5px;
    position: fixed;
    margin-bottom: 20px;
}

.header-text {
    font-size: 22px;
    font-weight: 550;
}

.nav-bar {
    position: fixed;
    top: 0;
}

#footer, header {
    background: linear-gradient(
        transparent,    
        #fff9ee,
        transparent 
    );    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

textarea {
    resize: none;
}

textarea::placeholder {
    text-align: left;
    transform: translateY(80px);
}

#form {
    display: flex;
    align-items: center;
}

.skull {
    font-weight: 500;
}

.quote-1 {
    font-style: italic;
    font-weight: 300;
    margin: 15px 0 0 30px;
}

.about-1, .about-2 {
    text-align: center;
}

#footer {
    padding-top: 10px;
    padding-bottom: 10px;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 14px;
}

.inputs {
    display: flex;
    flex-direction: column;
}